<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Pogoda</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>

        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-2 col-12">
                </div>
                <div class="col-xl-6 col-lg-8 col-12">
                   <div class="row">
                        <div class="col-sm-12">
                               <h1 class="mt-5">Pogoda</h1>
                                <p class="lead">Aplikacja sprawdzająca pogodę</p>
                                <div class="form-group">
                                    <label for="sel1">Wybierz miasto:</label>
                                    <select class="form-control" id="location"></select>
                                </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-sm-6">
                            <h2 id="location_city"></h2>
                            <p id="location_country"></p>
                        </div>
                        <div class="col-6 col-sm-6 text-right">
                            <h2 id="condition_temperature"></h2>
                            <p id="condition_text"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table class='table'>
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Dzień</th>
                                        <th>Temp. od</th>
                                        <th>Temp. do</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id='forecastsList'>
                                    
                                </tbody>
                            </table>
                            
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-2 col-12">
                </div>
            </div>
        </div>
    </body>

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</html>
